/**{
    margin: 0;
    padding: 0;
}*/

body {
    font-family: roboto;
    background-color: rgb(0, 0, 0);
}

header p {
    display: block;
    margin-top: 2%;
    text-align: center;
}

.kabuce {
    height: 1000px;
    background-position: center;
    background-size: cover;
    border-top: 1px solid transparent;
}
.conteudo_kabuce {
    display: block;
    height: auto;
    text-align: center;
    color:rgb(255, 255, 255);   
}

.kabuce nav ul {
    width: 100%;
    position: fixed;
    left: 65%;
}

.kabuce ul li {
    display: inline-block;
    list-style: none;
}

.kabuce nav a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: century gothic;
    font-size:12px;
    letter-spacing: 2px;
    margin-left: 10px;
}
.kabuce nav a:hover {
    font-style: italic;
}


.okami {
    font-family: century gothic;
    font-size: 180px;
    letter-spacing: 5px;
    margin-top: 15%;
    text-align: center;
    
}

.mkt {
    margin-top: -100px;
    font-family: century gothic;
    font-size: 40px;
}

main {
    width: 80%;
    margin: auto;
}

.card {
    width: 32%;
    float: left;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    display: block;
}

.card-2, .card-3 {
    margin-left: 2%;
}

.card p {
    text-align: center;
    background-color: white;
    color: black;
    margin: 0%;
    padding: 3%;
    letter-spacing: 2px;
    font-weight: 400;
   
}

.card p:hover {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 0%;
    padding: 3%;
    letter-spacing: 2px;
    font-weight: 400;
   transition: 0.25s;
   font-style: italic;
}

.section-bg {   
    padding: 15px;
    margin-top: 15px;
    overflow: auto;
}

h2, p{
    color: white;
}

.titulo_artigo {
display: block;
background-color: rgb(32, 32, 32);
padding: 1%;
margin: -0.5%;
text-transform: uppercase;
text-align: center;
}


footer {
    background-color: rgb(255, 255, 255);
    padding: 1%;
    margin: 1% -1% -1% -1%;
}

footer p {
color: black;
text-align: center;
}